{% extends 'base.html' %}

{% block _content %}
<style>
  body{
    background-color: darkcyan;
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 bg-light p-5 rounded-3">
      <div class="row">
        <div class="col">
          <h1 class="text-center">Login</h1>
          {% if pesan != '' %}
          <!-- <div class="alert alert-{{status}}" role="alert">
            {{ pesan }}
          </div> -->
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ pesan }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          <form action="/login" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-info fw-bold">Login</button><span> Don't have an account..? <a href="/register" class="text-decoration-none">Register</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}